.background-section.about {
    background-image: url("../img/About-img.jpg");
    @media(max-width: 900px) {
        background-image: url("../img/About-img_700.jpg");
    }
    .background-title {
        @media(max-width: 348px) {
            font-size: 1em;
        }
    }
}
