.section-story {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 60px;
    padding: 0 20px;
    @media(max-width: 1200px) {
        margin-bottom: 50px;
    }
}    

.section-story-wrap {
    max-width: 540px;
    flex-basis: 540px;
    flex-grow: 1;
    @media(max-width: 1164px) {
        flex-basis: 40%;
        min-width: 40%;
    }
    @media(max-width: 918px) {
        max-width: 800px;
    }
    .story {
        &, .text:not(:last-child) {
        margin-bottom: 40px;
        }
    }  
    .title-text {
        margin-bottom: 42px;
        @media(max-width: 900px) {
            font-size: 18px;
            font-weight: 300;
        }
        @media(max-width: 918px) {
            text-align: center;
        }
    }    
}

.skills-name {
    color: #2f302f;
    font-size: 16px;
    font-weight: 700;
    line-height: 10px;
    letter-spacing: 0.4px;
}

.skills-wrap {
    position: relative;
    width: 100%;
    height: 10px;
    margin: 18px 0;
    background-color: #ebebeb;
    &.photoshop {
        &::before {
            width: calc(90% - 3px);
        } 
        &::after, 
        .percent {
            right: 10%;
        }
    }      
    &.branding {
        &::before {
            width: calc(95% - 3px);
        }
        &::after, 
        .percent{
            right: 5%;
        }
    }    
    &.photography {
        &::before {
            width: calc(50% - 3px);
        }
        &::after, 
        .percent {
            right: 50%;
        }
    }    
    &.webdesign {
        &::before {
            width: calc(85% - 3px);
        }
        &::after, 
        .percent {
            right: 15%;
        }
    }
    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }    
    &::before {
        height: 2px;
        left: 3px;
        background-color: #a1a1a1;
    }
    &::after {
        box-sizing: border-box;
        width: 8px;
        height: 8px;
        border: 2px solid #000000;
        border-radius: 50%;
        background-color: #ffffff;
    }
    .percent {
        position: absolute;
        top: -37px;
        transform: translateX(calc(100% - 4px)); // 4px - half width of circle
        display: inline-block;
        width: 40px;
        height: 21px;
        background-color: #041608;
        color: #ffffff;
        font-family: "Roboto", sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        &::after {
            content: "";
            position: absolute;
            bottom: -8px;
            left: 0;
            display: block;
            border: 4px solid #000000;
            border-right-color: transparent;
            border-bottom-color: transparent;
        }
    }
}

.story-img-wrap {
    flex-basis: 531px;
    min-width: 531px;
    height: 600px;    
    margin-right: 54px;
    margin-bottom: 40px;
    @media(max-width: 1164px) {
        flex-basis: 55%;
        min-width: 55%;
        margin-right: 30px;
    }
    @media(max-width: 918px) {
        flex-basis: 531px;
        min-width: 531px;
        margin-right: 0;
    }
    @media(max-width: 528px) {
        display: none;
    }
}

.agency-image {
    overflow: hidden;
    width: 100%;
    height: 600px;
}

.text {
    color: #777777;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    @media(max-width: 918px) {
        font-size: 1em;
    }
}
