.post-section {
    svg {
        cursor: pointer;
        &:hover {
            fill: #333333;
            .post-date {
                color: #333333;
            }
        }
    }
    .post-list-wrap {
        max-width: 750px;
        margin-bottom: 101px;
        .products-load-button {
            display: block;
            margin: 0 auto;
        }
    }
    .post-list {
        @include ul-style();
        display: flex;
        flex-direction: column;
        min-height: 1412px;
        margin-bottom: 68px;
    }
    .post-list-item {
        max-width: 358px;
        background-color: #ffffff;
        &:not(:last-child) {
            margin-bottom: 33px;
        }
        &:not(.five) {
            .post-text-wrap {
                padding: 29px 36px 40px 45px;
            }
        }
        .wordpress {
            display: block;
            max-width: 110px;
            font-size: 13px;
            line-height: 18px;
            text-transform: uppercase;
            border-radius: 3px;
            text-align: center;
            padding: 4px 0;
            color: #ffffff;
            background-color: #000000;
        }
        .post-title {
            display: block;
            font-size: 20px;
            line-height: 30px;
            color: #333333;
        }
        .by-text {
            display: inline-block;
            color: #cccccc;
            font-size: 13px;
            line-height: 30px;
            margin-left: 4px;
        }
        .post-text {
            color: #777777;
            font-size: 14px;
            line-height: 24px;
            padding: 30px 0 40px;
        }
        .calendar-icon, {
            fill: #9a9a9a;
            margin-right: 6px;
        }
        .share-icon,
        .like-icon,
        .profile-icon {
            fill: #cccccc;
        }
        .share-icon {
            margin-right: 20px;
        }
    }

    .blog-image-wrap {
        height: 245px;
        position: relative;
        img {
            width: 100%;
        }
    }
    .post-date-wrap {
        display: flex;
        align-items: center;
    }
    .post-date {
        color: #9a9a9a;
        font-size: 13px;
        line-height: 24px;
        font-weight: 400;
    }
    .post-icon-details {
        margin-left: auto;
    }

    .sidebar-wrap {
        max-width: 361px;
        .title-text {
            text-align: center;
            padding: 14px 0 12px;
            background-color: #ebebeb;
        }
    }  
    .form-search {
        height: 60px;
        margin-bottom: 26px;
    }  
    .form-wrap {
        display: flex;
        position: relative;
        height: 100%;
        .input{
            &.contact {
                @include placeholder-blog();
                background-color: #ffffff;
                padding-left: 29px;
            }
        }
    }
}

.title-text {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -15px;
        border: 8px solid transparent;
        border-top-color: #ebebeb;
    }
}

.background {
    background-color: #ffffff;
}

.sidebar-search-button {
    @extend %borderless-btn;
    position: absolute;
    align-self: center;
    right: 11px;
    background-color: #999999;
    height: 34px;
    width: 35px;
    svg {
        fill: #ffffff;
    }
}

.recent {
    margin-bottom: 25px;
    &-list {
        @include ul-style($padding: 26px 26px 28px);
    }
    &-list-item {
        &:not(:last-child) {
            margin-bottom: 25px;
        }
    }
    &-wrap {
        display: flex;
        img {
            margin-right: 16px;
        }
    }
    &-title {
        display: block;
        margin-bottom: 8px;
    }
}

.popular {
    margin-bottom: 40px;
    &-list {
        @include ul-style($padding: 35px 0 29px 20px);
        display: flex;
        flex-wrap: wrap;
        &-item {
            border: 1px solid #ebebeb;
            border-radius: 3px;
            padding: 2px 18px;
            cursor: pointer;
            &:hover {
                border-color: #777777;
                a {
                    color: #777777;
                }
            }
            &:active,
            &:focus {
               background-color: #000000; 
               a {
                color: #ffffff;
               }
            }
            &:not(:first-child) {
                margin-left: 6px;
            }
            &.current {
                background-color: #000000;
            }
        }
    }
    &-ref {
        font-size: 13px;
        line-height: 24px;
        color: #9c9c9c;
        &.current {
            color: #ffffff;
        }
    }
}