.head-slider {
  width: 100%;
  height: 650px;
}
.slide {
  position: relative;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  &.slide-1,
  &.slide-3 {
    background-image: url("../img/head-slider-1.jpg");
    @media(max-width: 800px) {
      background-image: url("../img/head-slider-1_550.jpg");
    }
  }
  &.slide-2 {
    background-image: url("../img/head-slider-2.jpg");
    @media(max-width: 1100px) {
      background-image: url("../img/head-slider-2_750.jpg");
    }  
  }
  &-text-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 300;
    text-transform: uppercase;
    @media(max-width: 979px) {
      left: 27%;
      top: 68%;
      transform: translateX(-34%);
    }
    .slide-title {
      @media(max-width: 1432px) {
        font-size: 2.375em;
      }
      @media(max-width: 1214px) {
        font-size: 1.750em;
      }
      @media(max-width: 669px) {
        padding: 11px 18px;
        margin-bottom: 24px;
        letter-spacing: 2.8px;
      }
    }
    .title-text {
      text-align: center;
      @media(max-width: 1214px) {
        font-size: 1em;
      }
      @media(max-width: 669px) {
        text-align: left;
      }
    }
  }
  &-title {
    padding: 11px 41px 11px 47px;
    margin-bottom: 38px;
    background-color: #000000;
    color: #ffffff;
    font-size: 48px;
    line-height: 34px;
    letter-spacing: 4.8px;
  }
}
#head-slider-ow {
  position: relative;
  .tns-nav {
    position: absolute;
    left: 50%;
    bottom: 30px;
    button {
      width: 15px;
      height: 15px;
      vertical-align: middle;
      padding: 0;
      border: 0;
      border-radius: 50%;
      background-color: #ffffff;
      &:not(:last-child) {
        margin-right: 16px;
      }
      &.tns-nav-active {
        border: 4px solid #000000;
      }
    }
  }
}