.main-nav {
  display: flex;
  .nav-list {
    @include ul-style();
    display: flex;
    margin-right: 60px;
    @media(max-width: 880px) {
      margin-right: 40px;
    }
    @media(max-width: 700px) {
      display: none;
    }
    &.show-nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      z-index: 10;
      width: 100%;
      top: 90px;
      left: 0;
      margin-right: 0;
      padding-top: 25px;
      background-color: rgba(255, 255, 255, 0.9);
    }
    &-item {
      padding-left: 40px;
      @media(max-width: 880px) {
        padding-left: 20px;
        &::before {
          display: none;
        }
      }
      @media(max-width: 700px) {
        margin-bottom: 25px;
      }
      &:not(:last-child) {
        margin-right: 20px;
      }
      &.active {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          width: 20px;
          height: 1px;
          background-color: #06060a;
        }
      }
    }
    &-ref {
      font-family: "Roboto Bold", sans-serif;
      font-size: 14px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 1.05px;
      text-transform: uppercase;
      color: #777777;
      @media(max-width: 880px) {
        font-size: 0.750em;
      }
      @media(max-width: 700px) {
        font-size: 1.125em;
      }
      &:hover,
      &:focus {
        color: #444444;
      }
    }
  }
}  

  .nav-button {
    @extend %borderless-btn;
    svg {
      fill: #777777;
      @media(max-width: 700px) {
        width: 20px;
        height: 20px;
      }
    }
  }


  .menu-button {
    @extend %borderless-btn;
    display: none;
    margin-left: 16px;
    @media(max-width: 700px) {
      display: block;
    }
    svg {
      fill: #777777;
    }
  }
