.products {
  background-color: #fafafa;
  &-list {
    @include ul-style();
    display: grid;
    grid-auto-rows: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-bottom: 36px;
  }
  &-link {
    display: block;
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 73px;
  }
}