.portfolio-nav {
    background-color: #ffffff;
    .container {
        display: flex;
        height: 60px;
    }
    button {
        display: flex;
        align-items: center;
        padding: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
        &:hover {
            svg {
                fill: #777777;
            }
            .arrows-text {
                color: #777777;
            }
        }
    }
    .button-prev,
    .button-next {
        width: 162px;
        display: flex;
        justify-content: center;
        border-left: 1px solid #e1e1e1;
    }
    .button-prev {
        .arrows-text {
            margin-left: 14px;
        }
    }
    .button-next {
        border-right: 1px solid #e1e1e1;
        .arrows-text {
            margin-right: 14px;
        }
    }
    .button-show {
        margin-left: auto;
        height: 100%;
        padding: 0 48px;
        border: 0 solid #e1e1e1;
        border-right-width: 1px;
        border-left-width: 1px;
        .arrows-text {
            margin-left: 11px;
        }
    }
    .arrows-text {
        font-size: 13px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
        color: #071f08;
    }
}
