.portfolio-nav {
    background-color: #ffffff;
    .container {
        display: flex;
        height: 60px;
        @media(max-width: 700px) {
            justify-content: center;
        }
        @media(max-width: 600px) {
            padding: 0;
        }
    }

    .link {
        align-items: center;
        @media(max-width: 600px) {
            width: 100%;
        }
        @media(max-width: 490px) {
            font-size: 11px;
        }
        &:hover {
            svg {
                fill: #777777;
            }
            .arrows-text {
                color: #777777;
            }
        }
        &.prev,
        &.next {
            width: 162px;
            display: flex;
            justify-content: center;
            border-left: 1px solid #e1e1e1;
            @media(max-width: 600px) {
                width: 100%;
            }
        }
        &.prev {
            .arrows-text {
                margin-left: 14px;
            }
        }
        &.next {
            border-right: 1px solid #e1e1e1;
            .arrows-text {
                margin-right: 14px;
            }
        }
        &.show {
            display: flex;
            margin-left: auto;
            height: 100%;
            padding: 0 48px;
            border: 0 solid #e1e1e1;
            border-right-width: 1px;
            border-left-width: 1px;
            @media(max-width: 700px) {
                margin-left: 0;
                border-left-width: 0;
            }
            @media(max-width: 600px) {
                width: 100%;
                justify-content: center;
            }
            @media(max-width: 490px) {
                padding: 0 22px;
            }
            .arrows-text {
                margin-left: 11px;
            }
        }
        .arrows-text {
            font-size: 13px;
            font-weight: 700;
            line-height: 24px;
            text-transform: uppercase;
            color: #071f08;
            @media(max-width: 490px) {
                font-size: 0.988em;
            }
        }
    }
}