.section-related {
    margin-bottom: 70px;
}

.related {
    &-wrap {
        margin: 0 auto;
        max-width: 540px;
        text-align: center;
        margin-bottom: 54px;
        .title-text {
            font-size: 30px;
            letter-spacing: 12px;
            margin-bottom: 36px;
        }
    }
    &-list {
       @include ul-style($margin: 0 -17px); 
       display: flex;
       justify-content: center;
       flex-wrap: wrap;
    }
    &-item {
        margin: 0 17px;
        a {
            display: block;
            height: 100%;
        }
        img {
            height: 100%;
        }
    }
}